.download{
    margin-top: 150px;
    text-align: center;
}

.download-title{
    margin: 0;
    padding-top: 25px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 3rem;
}

.download-text{
    text-align: center;
    padding: 0 50px;
    margin-bottom: 0px;
    font-size: 1.25rem;
    font-weight: 300;
}

.download-buttons{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 10px;
}

.download-buttons > a{
    background: var(--secondary);
    outline: none;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.25rem;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-web-version{
    margin-top: 25px;
    text-align: center;
}